
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.row{
    margin: 0;
    padding: 0;
}



.container{
    padding: 70px 0;

}

p, li{
    color: rgb(32, 31, 31);
    font-size: 14px;
}

/* barra de navegação*/
header, .navbar{
    width: 100vw;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #000000;
}

#logo{
    padding: 1rem;
    width: 75px;
}
#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand{
    padding: 0;
    color: white
}

.navbar-brand:hover{
    color: white;
}

.navbar-link a{
    color: white;

}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
    color: white;
    cursor: pointer;
}

.navbar-toggler{
    color: white;
    background-color: rgb(46, 44, 44);
}
.navbar-toggler-icon{
    color: white;


}
@media screen and (max-height:414px){
    .navbar-expand-lg .navbar-nav .nav-link{
        padding: .65rem .8rem;
        color: white;
        cursor: pointer;
    }
    
}

#product-box{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#product-box .row h3{
    text-transform: uppercase;
    
}